**/.env
kubeone-terraform/.terraform
kubeone-terraform/udagram-kubeconfig
kubeone-terraform/udagram.tar.gz
kubeone-terraform/terraform.tfstate*
k8s/config-maps-and-secrets/aws-secret.yaml
k8s/config-maps-and-secrets/env-configmap.yaml
k8s/config-maps-and-secrets/env-secret.yaml